In [ ]:
# Import PyDrive and associated libraries.
# This only needs to be done once per notebook.
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# Authenticate and create the PyDrive client.
# This only needs to be done once per notebook.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

# Download a file based on its file ID.
#
# A file ID looks like: laggVyWshwcyP6kEI-y_W3P8D26sz

In [ ]:
!rm *.hdf5

rm: cannot remove '*.hdf5': No such file or directory

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
fname_dir="/content/blood/"
fname_url="/content/drive/MyDrive/blood/Update_train.csv"
fname=fname_url.split("/")[-1]

In [ ]:
fname_dir="/content/blood/"
!mkdir $fname_dir

In [ ]:
!cp $fname_url $fname_dir

# Download full data set

In [ ]:
fname_url="/content/drive/MyDrive/blood/export/*.csv"
!cp $fname_url $fname_dir

cp: cannot stat '/content/drive/MyDrive/blood/export/*.csv': No such file or directory

In [ ]:
fnames_list=["Exports_ldl_rows_135_full.csv","Exports_ldl_rows_410_full.csv",
             "Export_hgb_rows_965_full.csv","Exports_hgb_rows_2457_full.csv",
             "Exports_hdl_rows_483_full.csv","Exports_hdl_rows_162_full.csv"]
fname_dir="/content/blood/"

In [ ]:
drive.flush_and_unmount()
print('All changes made in this colab session should now be visible in Drive.')

All changes made in this colab session should now be visible in Drive.

1. fájl feldolgozása

In [ ]:
import pandas as pd

In [ ]:
def create_absorbance_columns():
    out=[]
    for i in range(170):
        out.append("absorbance"+str(i))
    return(out)

In [ ]:
def absorbance_converter(stri):
    stri=stri.strip()
    stri=stri.replace("  "," ")
    str_list=stri.split(" ")
    #print(str_list)
    #print(str_list[0], "__")

    if len(str_list) >2: 
        o=[float(i) for i in str_list]
        #print(o[0])
    return o

In [ ]:
def replace_cat(df,category,rule={"low":0,"ok":1,"high":3}):
    df[category].replace(rule,inplace=True)
    return df

In [ ]:
def aggregate_df(df,function="mean",id="donation_id"):
    func=[function]
    cols=list(df.columns[:174])
    df_agg=pd.DataFrame()
    for col in cols:
    
        result=df.groupby(id).agg({col:func})
    
        df_agg[col]=result[col].iloc[:,0].values
    return df_agg

In [ ]:
file_name=fname_dir+fnames_list[5]

In [ ]:

df= pd.read_csv(file_name)
df.tail()

      donation_id  scan_number  ... hdl_cholesterol_human  hdl_cholesterol_value
9715         1974           56  ...                   low                   43.0
9716         1974           57  ...                   low                   43.0
9717         1974           58  ...                   low                   43.0
9718         1974           59  ...                   low                   43.0
9719         1974           60  ...                   low                   43.0

[5 rows x 8 columns]

In [ ]:
absorbance_columns=create_absorbance_columns()

In [ ]:
df=replace_cat(df,"hdl_cholesterol_human")

In [ ]:
absorbance_list=[]
for i in df.index:
    #print(f"index={i}")
    
    absorbance_list.append(absorbance_converter(df.iloc[i,2]))

In [ ]:
__blood_measure__="cholesterol_hdl"

In [ ]:
ldl1_df= pd.DataFrame(absorbance_list)
ldl1_df.columns=absorbance_columns

ldl1_df["donation_id"]=df.donation_id
ldl1_df["temperature"]=df.temperature
ldl1_df["humidity"]=df.humidity

if __blood_measure__=="cholesterol_ldl":
    ldl1_df["cholesterol_ldl_value"]=df.cholesterol_ldl_value
    ldl1_df["cholesterol_ldl_human"]=df.cholesterol_ldl_human
elif __blood_measure__=="hemoglobin":
    ldl1_df["hemoglobin(hgb)_value"]=df["hemoglobin(hgb)_value"]
    ldl1_df["hemoglobin(hgb)_human"]=df["hemoglobin(hgb)_human"]
elif __blood_measure__=="cholesterol_hdl":
    ldl1_df["hdl_cholesterol_value"]=df.hdl_cholesterol_value
    ldl1_df["hdl_cholesterol_human"]=df.hdl_cholesterol_human

In [ ]:
ldl1_df.describe()

       absorbance0  absorbance1  ...  hdl_cholesterol_value  hdl_cholesterol_human
count  9720.000000  9720.000000  ...            9720.000000            9720.000000
mean      0.506450     0.508717  ...              47.272111               0.691358
std       0.032956     0.032791  ...              10.958861               0.787943
min       0.392912     0.394812  ...              32.000000               0.000000
25%       0.485186     0.488190  ...              41.000000               0.000000
50%       0.507152     0.509469  ...              46.000000               1.000000
75%       0.529925     0.532131  ...              51.000000               1.000000
max       0.596472     0.597404  ...             130.301050               3.000000

[8 rows x 175 columns]

In [ ]:
ldl1_df_agg=aggregate_df(ldl1_df)

In [ ]:
ldl1_df_agg.describe()

       absorbance0  absorbance1  ...    humidity  hdl_cholesterol_value
count   162.000000   162.000000  ...  162.000000             162.000000
mean      0.506450     0.508717  ...   37.245149              47.272111
std       0.032617     0.032457  ...    7.203559              10.992277
min       0.400606     0.403625  ...   17.696667              32.000000
25%       0.485957     0.486360  ...   33.070292              41.000000
50%       0.507157     0.509331  ...   36.519917              46.000000
75%       0.529105     0.530941  ...   41.924292              51.000000
max       0.580940     0.583589  ...   56.357500             130.301050

[8 rows x 174 columns]

 ## Save

In [ ]:
ldl1_df.to_csv("hdl2_full.csv")

In [ ]:
ldl1_df_agg.to_csv("hdl2_agg.csv")

In [ ]:
dest_dir="/content/drive/MyDrive/blood/rework/"
!cp ./*.csv $dest_dir

In [ ]:
#------